<div class="container">
  <div class="user_wrap"  [hidden]="!isUserFormShow" id="new">
    <h2 class="text-center">Add member</h2>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form class="form-group" id="newUser" #userForm="ngForm" novalidate>
              <div class="form-group">
                <label>Name :</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="user.name"
                       #name="ngModel" name="name" required/>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" id="email" name="email" required email/>
              </div>
              <div class="form-group">
                <label>Age</label>
                <input type="number" class="form-control" [(ngModel)]="user.age" #age="ngModel" id="age"
                       name="age" required/>
              </div>
              <div class="form-group">
                <label>Number</label>
                <input type="tel" class="form-control" [(ngModel)]="user.number" #number="ngModel" id="number"
                       name="number" required pattern="[0-9]{11}"/>
              </div>
              <div class="form-group">
                <label>Tour</label>
                <select class="form-control" [(ngModel)]="user.idTour" #tour="ngModel" name="idTour" id="idTour" required>
                  <option *ngFor="let tour of tours"  value="{{tour.id}}">{{tour.name}}</option>
                </select>
              </div>
              <button [disabled]="name.invalid || email.invalid || number.invalid||tour.invalid||age.invalid" (click)=createUser() class="btn btn-success">OK</button>
              <button (click)="cancel(userForm)" class="btn btn-danger btn_cancel">Cancel</button>
              <button type="reset" class="btn btn-info btn_reset">Reset</button>
            </form>
            <p>{{error}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a (click)="changeButt(userForm)">Add new user</a>
  <div class="row" >
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">Age</th>
        <th scope="col">Number</th>
        <th scope="col">Tour</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users; index as i">
      <tr>
        <th scope="row">{{i}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td>{{user.number}}  </td>
        <td>{{user.tourName}}</td>
        <td><button class="btn btn-info" (click)="updateClick(user)">Update</button>
          <button class="btn btn-danger btn_delete" (click)="deleteUser(user.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

<div *ngIf="modalFlag" class="modal_div text-center">
  <p>Confirm action</p>
  <div class="text-center">
  <button class="btn-info" (click)="delete()">OK</button>
  <button class="btn-danger btn_modal" (click)="cancelModal()">Cancel</button>
  </div>
</div>
</div>


