<div class="container">
<div class="row justify-content-center d-flex" >
  <div class="card col-lg-5 card-tour" *ngFor="let tour of tours; index as i">
    <div class="card-header">
      {{tour.name}}
    </div>
    <div class="card-body">
      <p class="card-text">{{tour.description}}</p>
      <p>Average age:{{tour.avgAge}}</p>
      <a  (click)="changeButt(i)" *ngIf="tour.members.length>0">Members</a>
    </div>
    <div  [hidden]="!isShow[i]"  *ngFor="let user of tour.members; ">
      <p>{{user.name}},{{user.age}}</p>
    </div>
  </div>
</div>
</div>
